:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --base6: #d9d8d5;
    --base7: #fdbe01;
    --textsWhite: #ffffff;
    --colorNone: #4a4a4a;
}

section {
    padding: 15px;
}


.per-direito,
.per-esquerdo {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}


.sec-persuasivo {
    background-image: url('./../imgs/bg-02.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.sec-persuasivo .lay_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sec-persuasivo .btn_white {
    transition: 500ms;
    background-color: var(--base1);
    color: var(--textsWhite);
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px;
    animation: pulseButton 2s infinite;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px 30px 0px;

}

.ajust-svg {
    width: 100%;
    height: 30px;
    transform: rotate(180deg);
}

.elementor-shape-fill {
    fill: #f0f0f0;
}

.per-ajust {
    display: flex;
    flex-direction: row;
}

.per-h2, .per-h2 b {
    font-size: 45px;
    color: var(--colorNone);
    text-transform: uppercase;
}

.per-h2 b {
    color: var(--base1);
}

.lay-frame2 {
    width: 546px;
    height: 479px;
}

.frame-2 {
    background-image: url('../imgs/frame-2-desktop.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.lay-pers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px;
}

.text1-pers span,
.text2-pers p {
    color: var(--colorNone);
}


.text2-pers span {
    color: var(--base1);
    font-weight: bold;
    font-size: 28px;
}

/* Para telas muito grandes (monitores ultrawide, 4K, etc.) */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
        /* Outros ajustes para telas muito grandes */
    }

    .per-ajust {
        display: flex;
        flex-direction: row;
        padding: 0px 60px;
    }

    .lay-frame2 {
        width: 602px;
        height: 528px;
    }
}


@media (max-width: 1340px) {

    .per-h2, .per-h2 b {
        font-size: 3.2vw;
    }

    .lay-frame2 {
        width: 40vw;
        height: 35vw;
    }

    .text1-pers span,
    .text2-pers p {
        color: var(--colorNone);
        font-size: 1.8vw;
    }

    .text2-pers span {
        font-size: 2.1vw;
    }

    .fa-circle-check {
        font-size: 2vw;
    }

    .text2-pers {
        align-items: flex-start;
    }
}


/* Para telas grandes (desktops) */
@media (min-width: 1025px) {

    .txt2-ajsut-icon {
        margin: 10px 0px;
    }

    .fa-circle-check {
        font-size: 32px;
    }

    .sec-persuasivo .btn_white {
        font-size: 22px;
    }

}


/*subundo ^ */


@media (max-width: 900px) {

    .per-direito,
    .per-esquerdo {
        justify-content: center;
        padding: 0px 30px;
    }


}

/* Para tablets e dispositivos de tamanho médio */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;
        /* Outros ajustes para dispositivos médios */
    }
}



/* Para telas pequenas (celulares) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Outros ajustes para telas pequenas */
    }

    .per-ajust {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .per-h2,
    .per-h2 b {
        font-size: 6.8vw;
    }

    .text1-pers span,
    .text2-pers p {
        color: var(--colorNone);
        font-size: 2.8vw;
    }

    .fa-circle-check {
        font-size: 5vw;
    }

    .txt2-ajsut-icon {
        margin: 34px 0px;
        width: 87%;
    }

    .text2-pers span {
        font-size: 4.1vw;
    }

    .per-direito,
    .per-esquerdo {
        text-align: center;
        width: 90%;
        padding: 0px 0px;
        flex-direction: column;
        align-items: center;
    }

    .text2-pers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lay-frame2 {
        width: 61vw;
        height: 54vw;
    }

    .sec-persuasivo .btn_white {
        font-size: 5vw;
        margin: 74px 0px 30px 0px;
    }
}


@media (max-width: 550px) {
    .per-h2, .per-h2 b {
        font-size: 7.8vw;
    }

    .text1-pers span, .text2-pers p {
        color: var(--colorNone);
        font-size: 3.8vw;
    }

    .text2-pers span {
        font-size: 5.1vw;
    }

    .lay-frame2 {
        width: 75vw;
        height: 66vw;
    }
}


@media (max-width: 360px) {

    .per-h2, .per-h2 b {
        font-size: 8.8vw;
    }

    .text1-pers span, .text2-pers p {
        color: var(--colorNone);
        font-size: 4.8vw;
    }

    .text2-pers span {
        font-size: 6.1vw;
    }

    .fa-circle-check {
        font-size: 6vw;
    }
}