@media (min-width: 360px) {

    .plano_coluna p i{
        font-size: 15px ;
    }
    .item_description p, .plano_coluna p {
        font-size: 12px;
    }

    .item_description p:nth-child(1), .plano_coluna p:nth-child(1) {
        font-size: 12px;
    }
}

@media (min-width: 712px) {
    .frame {
        background-size: 86%;
        background-position: center;
        height: 84vw;
    }

    h1 {
        font-size: 30px;
        margin: 10px 30px;
    }

    h2 {
        font-size: 20px;
        margin: 10px 30px;
    }

    .btn_white {
        font-size: 20px;
    }

    .layout_title>span {
        font-size: 35px;
    }

    /*BENEFICIOS*/
    section.sec1.white-section {
        overflow: hidden;
    }

    .layout_beneficios,
    .layout_servis {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
    }

    .bene {
        width: 290px;
        margin: 10px 10px;
    }

    .bene>span {
        font-size: 25px;
    }

    .bene>p {
        font-size: 20px;
    }

    /*ATIVIDADES*/
    .servs {
        margin: 10px 10px;
        width: 290px;
    }

    .servs>span {
        font-size: 23px;
        padding: 10px 10px;
    }

    .ser_decri>p {
        font-size: 18px;
        padding: 5px 10px;
    }


    /*PLANOS*/
    .tabela {
        border-width: 1px;
        justify-content: center;
        width: max-content;

    }

    .item_description p:nth-child(1),
    .plano_coluna p:nth-child(1) {
        font-size: 21px;
    }

    .item_description p,
    .plano_coluna p {
        font-size: 18px;
        padding: 0px 5px;
        height: 43px;
        border-width: 1px;
    }

    .plano_coluna p:nth-child(15) {
        font-size: 18px;
    }


    /*duvidas*/
    .obj>span {
        font-size: 25px;
    }

    .obj>p {
        font-size: 19px;
    }

    .remoje i {
        font-size: 29px;
        margin: 10px 6px;
    }



    /*Formulario*/
    .formulario>div>p, .formulario>p {
        font-size: 20px;
    }
    .form01 p {
        font-size: 20px;
    }
    .form01 {
        width: 70%;
    }

    .form01 input, .form01 select, .form01 select option {
        font-size: 25px;
    }

    .formulario>div {
        align-items: center;
        flex-direction: column;
    }

}

@media (min-width: 1024px) {
    .layout_01 {
        margin: 23px 50px 0px 50px;
        flex-direction: row;
        align-items: flex-end;
    }
    .layout_02{
        width:50%;
    }
    .layout_03 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header a.logo {
        position: absolute;
        margin: 3vw 0px 0px 8vw;
        width: 90vw;
    }

    header .logo img {
        width: 25%;
    }

    .frame {
        background-size: contain;
        background-position: bottom;
        width: 46vw;
        height: 46vw;
    }
    h1 {
        font-size: 21px;
        margin: 18px 0px 9px 0px;
    }
    h2 {
        font-size: 14px;
        margin: 34px 0px 41px 0px;
    }

    .bene>span {
        font-size: 20px;
    }

    .bene>p {
        font-size: 16px;
    }
    .servs>span {
        font-size: 20px;
    }
    .ser_decri>p {
        font-size: 16px;
    }
    .item_description p:nth-child(1), .plano_coluna p:nth-child(1) {
        font-size: 14px;
    }
    .item_description p, .plano_coluna p {
        font-size: 12px;
        padding: 0px 5px;
        height: 28px;
    }
    .plano_coluna p:nth-child(15) {
        font-size: 12px;
    }
    .obj>span {
        font-size: 20px;
    }
    .obj>p {
        font-size: 13px;
        padding: 0px 55px;
    }
    .remoje i {
        font-size: 21px;
        margin: 10px 2px;
    }
    .obj {
        width: 68%;
    }

    .formulario>div {
        align-items: center;
        flex-direction: column;
        bottom: 18vw;
        position: relative;
        width: 52%;
    }

    .formulario>p{
        width: 30%;
        font-size: 20px;
    }

    .formulario>p {
        width: 53%;
        font-size: 28px;
        text-align: start;
    }
    
    .form01 input, .form01 select, .form01 select option {
        font-size: 15px;
    }
    .form01 {
        width: 40%;
    }
    section img {
        width: 190px;
    }

    .formulario {
    align-items: flex-start;
        flex-direction: row;
        padding: 0px 25px;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 28vw;
        width: 80%;
    }

}

@media (min-width: 1280px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .item_description p:nth-child(1), .plano_coluna p:nth-child(1) {
        font-size: 20px;
    }

    .item_description p, .plano_coluna p {
        font-size: 17px;
    }

    .obj>span {
        font-size: 23px;
    }
    .remoje i {
        font-size: 25px;
    }
    .obj>p {
        font-size: 18px;
    }
    .formulario>p {
        font-size: 25px;
    }
  
    .form01 p {
        font-size: 22px;
    }
    .form01 input, .form01 select, .form01 select option {
        font-size: 19px;
    }
    .formulario {
        height: 26vw;
    }
}

@media (min-width: 1366px) {
    .layout_02 {
        top: -57px;
        position: relative;
    }

    header .logo img {
        width: 20vw;
        left: 16vw;
        top: 10vw;
    }
    h1 {
        font-size: 2vw;
    }
    h2 {
        font-size: 1.5vw;
    }
    .fa-circle-chevron-left {
      right: 1%;
    }  
    .btn_white {
        font-size: 1.3vw;
    }  

    .layout_beneficios, .layout_servis {
        padding: 0vw 10vw;
    }
}