div#scene {
    bottom: 40vw;
    left: 40vw;
}
#linha{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: white;
    position: absolute;
    width: 15vw;
    opacity: 0.2;
}

#linha2{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(253, 249, 5);
    position: absolute;
    width: 13vw;
    top: 1vw !important;
    opacity: 0.2;
    left: 2vw;
}