/*
    *00-GLOBAL
    *01-HEADER
    *02-SECTION-PRIMARE
    *03-SECTION-PLANOS
    *04-SECTION-CHAMADA
*/


/*--00 GLOBAL-----------------------------------------------------------------------------------*/
* {
    padding: 0px;
    margin: 0px;
    font-size: 1.1vw;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --base1: #01044e;
    --base2: #242670;
    --base3: #ed8534;
    --base4: #ffffff;
    --textsWhite: #ffffff;
    --colorNone:#5c5c5c;
}

._section-title,
._plano-title {
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
}

._section-lay01,
._section-lay02,
._section-lay03{
    padding: 0vw 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*=============================================================================================*/




/*--01 HEADER-----------------------------------------------------------------------------------*/
header {
    background-image: radial-gradient(at center right, var(--base1) 32%, var(--base2) 100%);
    padding-bottom: 10vw;
}

._header-lay01 {
    padding: 0vw 5vw;
}

._header-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img._logo {
    margin: 2.5vw 0vw;
    max-width: 60vw;
}

._header-background {
    height: 90vw;
    width: 90vw;
    margin: 2.5vw 0vw;
    background-image: url(https://controllerconsultores.com.br/assets/imgs/frame-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

._header-texts {
    color: var(--textsWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ._header-texts h1 {
    font-size: 7vw;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5vw;
}

header ._header-texts h2 {
    font-size: 5vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5vw;
}

._header-form {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: var(--base4);
    border-radius: 1vw;
}

._header-form span {
    font-size: 4.5vw;
    font-weight: 700;
    text-align: center;
}

._formulario {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 1.5vw;
    font-size: 5vw;
    text-align: center;
    margin: 2vw;
}

form input[type="submit"] {
    color: #fff;
    background: #ed8534;
    outline: none;
    border-style: none;
    border-radius: 1vw;
    padding: 3vw 0vw;
}

form input[type="submit"]:hover {
    background: #ce8d5b;
}

/*==============================================================================================*/



/*--02 SECTION-PRIMARE--------------------------------------------------------------------------*/
._section-lay-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0vw;
}



._beneficio-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


._benefi-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0vw;
}

._benefi-icons i {
    font-size: 10vw;
    color: var(--base3);
}


._benefi-icons span {
    font-size: 5vw;
    font-weight: bold;
}

._servs {
    margin: 5vw 0vw;
    text-align: center;
}

._servs i {
    font-size: 4vw;
    color: var(--base3);
}

._servs span {
    font-size: 5vw;
}

/*=======================================================================================*/


/*--03 SECTION-PLANOS---------------------------------------------------------------*/

._section-lay02 {
    padding: 5vw;
    background-image: radial-gradient(at center right, var(--base1) 32%, var(--base2) 100%);
    padding-bottom: 10vw;
}

._planos-lay {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--base3);
    border-radius: 1vw;
    margin: 5vw 0vw;
}

._plano-lay-info {
    text-align: center;
}

._plano-title {
    color: var(--textsWhite);
}

._planos {
    display: flex;
    flex-direction: row;
    color: var(--textsWhite);
    justify-content: flex-end;
    background-color: #ed8534;
    align-items: center;
}

._planos span {
    font-size: 4vw;
    padding: 1vw;
    font-weight: bold;
}

._planos> :nth-child(2){
    margin-right: 5vw;
}
._planos> :nth-child(3){
    margin-right: 5vw;
}
._planos> :nth-child(4){
    font-size: 3vw;
}
._planos> :nth-child(5){
    font-size: 3vw;
}

._plano-descriptions {
    color: var(--textsWhite);
    display: flex;
    flex-direction: column;
    /* margin: 3vw 0vw; */
}

._plano-descriptions span{
    font-size: 3vw;
}

._planos-itens {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--base3);
}

._planos-itens> :nth-child(1) {
    width: 25vw;
    margin-left: 3vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

._si-no {
    width: 15vw;
    height: 10vw;
    display: flex;
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--base3);
    align-items: center;
    justify-content: center;
}

.item-none{
    color: var(--colorNone)
}
/*=================================================================================================*/



/*--04-SECTION-CHAMADA-----------------------------------------------------------------------------*/

._section-lay03 {
    padding: 5vw;
    padding-bottom: 10vw;
}
._chamada span{
    font-size: 5vw;
}
._lay-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10vw 0vw;
}

._btn-blue{
    color:  var(--textsWhite);
    font-size: 5vw;
    background-color: var(--base1);
    outline: none;
    border: none;
    border-radius: 1vw;
    padding: 3vw;
}