footer {
    padding: 15vw 0vw 0vw;
    background-image: url(https://controllerconsultores.com.br/assets/imgs/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: var(--textsWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._cont {
    margin: 7vw 5vw 9vw;
    display: flex;
    flex-direction: column;
    text-align: start;
}

._cont-info {
    font-size: 7vw;
    font-weight: 600;
}

._cont-cidade {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 2vw;
    color: white;
}

._cont-endere,
._cont-email,
._cont-tele,
._cont-hora {
    font-size: 3.5vw;
    margin: 1vw 0vw;
}

._cont-icon-size {
    margin-right: 1vw;
    font-size: 5vw;
    margin-bottom: 1vw;
}

.iconRedes {
    color: white;
    font-size: 7vw;
    margin: 1vw;
}

.dev {
    border-top: 1px solid rgba(255, 255, 255, .3);
    font-size: 3vw;
}

@media (min-width: 712px) {
    ._cont-info {
        font-size: 30px;
    }

    ._cont-cidade {
        font-size: 20px;
    }

    ._cont-endere,
    ._cont-email,
    ._cont-tele,
    ._cont-hora {
        font-size: 15px;
        margin: 5px 0px;
    }

    ._cont-icon-size {
        font-size: 22px;
    }

    .iconRedes {
        font-size: 40px;
        margin: 20px;
    }

    .dev {
        border-top: 1px solid rgba(255, 255, 255, .3);
        font-size: 14px;
        margin: 2px 20px;
    }
}

@media (min-width: 1024px) {
    ._cont {
        margin: 0vw 5vw 2vw;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
}