* {
    padding: 0px;
    margin: 0px;
    font-size: 1.1vw;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --textsWhite: #ffffff;
    --colorNone: #5c5c5c;
}

@keyframes pulseButton {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.fa-chart-line, .fa-id-card-clip, .fa-microchip, .fa-maximize, .fa-magnifying-glass-chart, .fa-chart-pie, .fa-shield-halved{
    font-size: 23px;
    color: var(--base3);
}

a.logo {
    margin: 10px 0px 0px 0px;
}

header {
    background: linear-gradient(356deg, var(--base1), var(--base5));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
    background-image: url(https://controllerconsultores.com.br/assets/imgs/frame-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85vw;
}

.layout_01 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px;
}

.layout_02 {
    text-align: center;
}
.texts {
    color: white;
}

h1 {
    font-size: 19px;
    margin: 10px 0px;
    text-transform: uppercase;
}

h2 {
    font-size: 15px;
    margin: 10px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.btn_white {
    transition: 500ms;
    background-color: var(--base4);
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px;
    animation: pulseButton 2s infinite;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px 30px 0px;
}


.layout_title{
    display: flex;
    justify-content: center;
    margin: 30px; 
}

.layout_title>  span{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:  var(--base3);
}

.layout_beneficios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bene{
    border-style: solid;
    border-width: 1px;
    width: 80%;
    border-radius: 10px;
    border-color: var(--base3);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
}

.bene > span{
    font-size: 20px;
    font-weight: bold;
}

.bene > p{
    font-size: 15px;
}


