:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --base6: #d9d8d5;
    --base7: #fdbe01;
    --textsWhite: #ffffff;
    --colorNone: #5c5c5c;
}

section {
    padding: 15px;
}

.sec-passos .title h2 {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--base1);
}

.sec-passos .passos-abrir-empresa {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-passos .step-progress {
    display: flex;
    align-items: center;
}

.sec-passos .step,
.sec-passos .numPas {
    border-style: solid;
    border-color: #474750;
    border-radius: 100px;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.sec-passos .step:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sec-passos .step:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sec-passos .bar {
    width: 80px;
    height: 10px;
    background-color: #474750;
    transition: all 0.3s ease;
}

.sec-passos .bar:hover {
    background-color: #02033e;
}

.sec-passos .os-passos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.sec-passos .pas {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: black 0px 0px 10px 0px;
    margin: 18px 0px;
    width: 84%;
}

.sec-passos .numPas {
    padding: 5px 10px;
}

.sec-passos .text-title {
    font-size: 22px;
    font-weight: bold;
}

.sec-passos .text-descri {
    font-size: 18px;
}

.sec-passos .lay_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sec-passos .btn_white {
    transition: 500ms;
    background-color: var(--base1);
    color: var(--textsWhite);
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px;
    animation: pulseButton 2s infinite;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px 30px 0px;

}