:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --base6: #d9d8d5;
    --base7: #fdbe01;
    --textsWhite: #ffffff;
    --colorNone: #5c5c5c;
}

section {
    padding: 15px;
}

.sec-passos {
    background-image: url('./../imgs/bg-01.png');
    background-size: cover;
}


.sec-passos .title h2 {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--base1);
    font-weight: bold;
}

.sec-passos .passos-abrir-empresa {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-passos .step-progress {
    display: flex;
    align-items: center;
}

.sec-passos .step,
.sec-passos .numPas {
    border-style: solid;
    border-color: #474750;
    border-radius: 100px;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.sec-passos .step:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sec-passos .bar {
    width: 80px;
    height: 10px;
    background-color: #474750;
    transition: all 0.3s ease;
}

.sec-passos .bar:hover {
    background-color: #02033e;
}

.sec-passos .os-passos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.sec-passos .pas {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: black 0px 0px 10px 0px;
    margin: 18px 0px;
    width: 84%;
    background-color: var(--base4);
}

.sec-passos .numPas {
    padding: 5px 10px;
}

.sec-passos .text-title {
    font-size: 22px;
    font-weight: bold;
}

.sec-passos .text-descri {
    font-size: 18px;
}

.sec-passos .lay_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sec-passos .btn_white {
    transition: 500ms;
    background-color: var(--base1);
    color: var(--textsWhite);
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px;
    animation: pulseButton 2s infinite;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px 30px 0px;

}

.sec-passos .passos-abrir-empresa-desktop {
    display: none;
}

@keyframes pulsededo {
    0% {
        transform: scale(1) rotate(332deg);

    }

    50% {
        transform: scale(1.1) rotate(332deg);

    }

    100% {
        transform: scale(1) rotate(332deg);

    }
}

.sec-passos .fa-hand-pointer {
    display: none;
    position: absolute;
    font-size: 40px;
    transform: rotate(332deg);
    margin: 13px -10px;
    color: var(--base1);
    animation: pulsededo 700ms infinite;
}

@media (min-width: 768px) {
    .sec-passos {
        padding: 15px 129px;
    }

    .sec-passos .step,
    .sec-passos .numPas {
        padding: 20px 20px;
    }

    .sec-passos .bar {
        width: 100px;
    }

    .step i {
        font-size: 39px;
    }

    .sec-passos .title h2 {
        font-size: 25px;
    }

    .sec-passos .btn_white {
        font-size: 23px;
    }

    .sec-passos .text-title {
        font-size: 30px;
        font-weight: bold;
    }

    .sec-passos .text-descri {
        font-size: 22px;
    }

    .sec-passos .numPas {
        padding: 5px 14px;
        font-size: 30px;
    }

    .sec-passos .fa-hand-pointer {
        font-size: 66px;
    }

}

@media (min-width: 1024px) {
    .sec-passos .bar {
        width: 200px;
    }

    .sec-passos .fa-hand-pointer {
        display: none;
    }
}

@media (min-width: 1024px) and (max-height: 800px) {
    .sec-passos .title h2 {
        font-size: 30px;
        margin: 50px 0px;
    }

    .sec-passos .passos-abrir-empresa {
        display: none;
    }

    .sec-passos .passos-abrir-empresa-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec-passos .bar {
        background-color: var(--base1);
    }

    .sec-passos {
        padding: 15px 100px;
    }

    .sec-passos .os-passos {
        display: flex;
        margin: 10px 0px;
        flex-direction: row;
        justify-content: center;
    }

    .sec-passos .pas {
        gap: 6px;
        width: 85%;
        margin: 15px 15px;
        z-index: 1;
        background-color: var(--base4);
        width: 225px;
        height: 321px;
    }

    .sec-passos .text-title {
        font-size: 22px;
    }

    .sec-passos .text-descri {
        font-size: 19px;
    }

    .step i {
        font-size: 29px;
        width: 32px;
        text-align: center;
        color: var(--base1);
    }

    .sec-passos .step,
    .sec-passos .numPas {
        border-color: var(--base1);
    }

    .sec-passos .step-progress {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec-passos .step {
        transform: none;
        cursor: pointer;
        background-color: var(--base4);
        z-index: 1;
    }

    .sec-passos .step,
    .sec-passos .numPas {
        padding: 14px;
        background-color: var(--base4);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .lin,
    .lin-3 {
        width: 10px;
        background-color: var(--base1);
        height: 52px;
        position: relative;
        /* transform: rotate(90deg); */
        z-index: 0;
        right: 38px;
        top: 25px;
    }

    .sec-passos .numPas {
        padding: 3px 11px;
    }

    .sec-passos .bar {
        width: 208px;
    }

    .sec-passos .bar-3 {
        width: 0px;
    }
}


@media (min-width: 1358px) {
    .step i {
        font-size: 23px;
    }

    .sec-passos .step,
    .sec-passos .numPas {
        padding: 9px;
    }

    .sec-passos .bar {
        width: 219px;
    }

    .bar-3 {
        width: 0px;
    }

    .sec-passos .pas {
        height: 230px;
    }

    .sec-passos .numPas {
        padding: 0px 9px;
    }

    .sec-passos .text-title {
        font-size: 18px;
    }

    .sec-passos .text-descri {
        font-size: 16px;
        font-weight: bold;
        color: var(--colorNone);
    }

    .sec-passos .btn_white {
        font-size: 16px;
    }
}