:root {
    --base1: #01044e;
    --base3: #ed8534;
    --base4: #ffffff;
    --base5: #000000;
    --base6: #d9d8d5;
    --base7: #fdbe01;
    --textsWhite: #ffffff;
    --colorNone: #5c5c5c;
}

/* Estilos padrão (aplicados em todos os dispositivos) */
body {
    font-size: 16px;
    background-color: #f0f0f0;
    /* Outros estilos globais */
}


.sec-servis h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--base1);
    font-weight: bold;

}

/* Para telas pequenas (celulares) */
@media (max-width: 600px) {
    body {
        font-size: 14px;
        /* Outros ajustes para telas pequenas */
    }
}

/* Para tablets e dispositivos de tamanho médio */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;
        /* Outros ajustes para dispositivos médios */
    }

    .sec-servis h2 {
        font-size: 30px;
    }
}

/* Para telas grandes (desktops) */
@media (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    .sec-servis h2 {
        font-size: 30px;
    }

    .card-01, .card-02 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 45px;
        background-color:  blueviolet;
        width: 100%;
    }

    i.fas.fa-helicopter {
        font-size: 60px;
    }

    .car-texts {
        display: flex;
        flex-direction: row;
    }


    .card-serv {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40%;
        margin: 1% 5%;
        box-shadow: #0000007a 0px 20px 20px 0px;
    }

}

/* Para telas muito grandes (monitores ultrawide, 4K, etc.) */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
        /* Outros ajustes para telas muito grandes */
    }
}