.fa-circle-chevron-left {
    position: fixed;
    font-size: 45px;
    color: var(--base1);
    right: 5%;
    bottom: 0%;
    transform: translate(0px, 100px) rotate(90deg);
}

@media (min-width: 768px) {
    .fa-circle-chevron-left {
        right: 3%;
    }
}


@media (min-width: 1024px) {
    .fa-circle-chevron-left {
        right: 2%;
        font-size: 62px;
    }
}

@media (min-width: 1024px) and (max-height: 800px) {
    .fa-circle-chevron-left {
        right: 1.2%;
        font-size: 48px;
    }
}